body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #5900ff;
}

.container {
  max-width: 500px;
  margin: 100px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group .submit-btn {
  background-color: #5900ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.form-group .submit-btn:hover {
  background-color: #8f53ff;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}
